@{
    ViewData["Title"] = "Página Principal";
}
<div class="text-center">
    <h1 class="display-4">Gestión de Stock</h1>
    <p>
        <a class="btn btn-primary" asp-page="./Views/Compras/Index"> Ir a Compras</a>
        <a class="btn btn-primary" asp-page="./Views/Ventas/Index"> Ir a Ventas</a>
    </p>

</div>